@import '~bootstrap/scss/bootstrap';

body {
   background-color: #31363b;
}

.active {
   border-bottom: 3px solid #fff;
}

// HEADER
header {
   position: fixed;
   top: 0;
   width: 100vw;
   z-index: 1;
}

main {
   margin: 79px 0;
}

// MOVIE INDEX
.movies {
   .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      div{
         position: absolute;
         bottom: 100%;
         left: 100%;
         transform: translate(-50%, 50%);
         display: flex;
         justify-content: center;
         align-items: center;
         height: 30px;
         width: 30px;
         background-color: #31363b;
         border: 1px solid green;
         border-radius: 50%;
      }
   }
}


// FOOTER
footer {
   position: fixed;
   bottom: 0;
   nav {
      width: 100vw;
      height: 59px;
   }
}